// fonts
@import url('https://fonts.googleapis.com/css?family=Questrial')
@import url('https://fonts.googleapis.com/css?family=Oswald')

// styling for all elements
*
    box-sizing: border-box
    font-family: Questrial
    margin: 0
    overflow-x: hidden
    padding: 0

// scrollbar styling
body::-webkit-scrollbar
    background-color: white
    width: 10px

body::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

body::-webkit-scrollbar-thumb
    background-color: black

// navbar styling
nav
    background-color: white
    border-bottom: 1px solid black
    height: 5rem
    right: 0
    position: absolute
    top: 0
    width: 100vw

#ul
    display: none
    list-style-type: none
    transition: height .5s

.li_box
    align-items: center
    display: flex
    height: 15vh
    min-height: 5rem
    justify-content: center
    width: 20vw
    max-width: 15rem
            





.wrapper
    animation: border .1s .5s
    animation-fill-mode: both
    height: auto
    width: 60vw
    margin: auto
    margin-top: 40vh
    overflow: hidden
    padding: 20px 10px 20px 10px
    position: relative

.box
    align-items: center
    display: flex
    justify-content: center

hr
    animation: hr .1s
    animation-delay: .5s
    animation-fill-mode: both
    border: none
    height: 1px
    margin-right: 20px
    width: 50px

.top
    height: 100%
    width: auto

.top
    animation: width 1s
    animation-fill-mode: both
    background: black
    position: absolute
    top: 0
    left: 0
    width: 100%

#name
    animation: display .1s
    animation-delay: .5s
    animation-fill-mode: both
    color: white
    font-family: Oswald
    font-size: 25px
    text-align: center
    text-transform: uppercase

#about
    animation: display .1s
    animation-delay: .5s
    animation-fill-mode: both
    color: white
    font-size: 14px
    letter-spacing: 6px














// keyframes animations

@keyframes width
    0%
        width: 0%

    50%
        width: 100%
        margin-left: 0%

    100%
        width: 0%
        margin-left: 100%

@keyframes display
    0%
        color: white

    100%
        color: black

@keyframes hr
    0%
        background-color: white

    100%
        background-color: black

@keyframes border
    0%
        border: 1px solid transparent
    
    100%
        border: 1px solid black